.home-page {
  padding-top: 80px;
}

section {
  padding: 4rem 0; /* Padding vertical, o horizontal será dado pelo container */
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: #333;
}

@media (max-width: 1366px) {
  section {
    padding: 2rem 0;
  }
}