.sobre-nos-section {
  background-color: #f9f9f9;
}

.sobre-nos-conteudo {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.sobre-nos-imagem {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-nos-texto {
  max-width: 1366px;
  text-align: left;
}

.sobre-nos-texto p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

@media (max-width: 1366px) {
  .sobre-nos-conteudo {
    flex-direction: column;
  }
  .sobre-nos-texto {
    text-align: center;
  }
}